@page
@model Proiect_Magazin_Flori.Areas.Identity.Pages.Cos.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Sunteti sigur ca doriti sa eliminati acest produs?</h3>
<div>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Floare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Floare.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cos.Cantitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cos.Cantitate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cos.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista</a>
    </form>
</div>
